In [1]:
import setup_django
setup_django.init()

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('3.00'), 'rating_count': 3}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('4.33'), 'rating_count': 3}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('3.12'), 'rating_count': 8}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('3.67'), 'rating_count': 3}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('3.33'), 'rating_count': 3}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('4.00'), 'rating_count': 2}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('2.67'), 'rating_count': 3}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('4.00'), 'rating_count': 2}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('2.67'), 'rating_count': 3}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': Decimal('2.00'), 'rating_count': 2}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('3.33'), 'rating_count': 3}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('3.00'), 'rating_count': 3}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('1.33'), 'rating_count': 3}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('1.50'), 'rating_count': 2}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('2.50'), 'rating_count': 2}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('2.50'), 'rating_count': 4}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('2.25'), 'rating_count': 4}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('2.67'), 'rating_count': 3}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('3.33'), 'rating_count': 3}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('2.50'), 'rating_count': 2}, '...(remaining elements truncated)...']>

In [ ]:
from movies.models import Movie
qs = Movie.objects.all().values('title','release_date', 'rating_avg','rating_count')
qs

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       3.00             3
1  Shadows in Paradise   1986-10-16       4.33             3
2           Four Rooms   1995-12-09       3.12             8
3       Judgment Night   1993-10-15       3.67             3
4            Star Wars   1977-05-25       3.33             3
5         Finding Nemo   2003-05-30       4.00             2
6         Forrest Gump   1994-07-06       2.67             3
7      American Beauty   1999-09-15       4.00             2
8         Citizen Kane   1941-04-30       2.67             3
9   Dancer in the Dark   2000-05-17       2.00             2

In [8]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('3.00'),
 'rating_count': 3}

In [ ]:
# df.to_csv #output to csv